@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", system-ui, sans-serif;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 0.8125rem;
    margin-bottom: 24px;
    font-weight: 700;
    
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.375rem;
    margin-bottom: 12px;
    font-weight: 600;
}

.status {
    color: hsl(0, 0%, 100%);
    font-size: 0.875rem;
    font-weight: 400;
    
}

a{
    display: block;
    
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 16px;
    font-size: 0.875rem;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
    font-weight: 700;
}



ul {
    margin-top: 24px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: hsl(0, 0%, 12%);
    padding: 36px;
    border-radius: 10px;
    min-width: 24rem;
    
    
}

.avatar {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    margin-bottom: 24px;
}

li a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: url("assets/images/icons8-cursor-20.png") 0 0, pointer;
}

li a:focus-visible{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}

@media (max-width: 450px) {
    .container {
        min-width: auto;
        width: 90vw;
        padding: 24px;
    }

}
